<style>
		body {
			margin: 0 auto;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: left;
			background-color: #fff;
			padding: 20px;
		}

        pre {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 1rem;
			font-weight: 400;
        }

		hr {
			box-sizing: content-box;
			height: 0;
			overflow: visible;
			margin-top: 1rem;
			margin-bottom: 1rem;
			border: 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
			empty-cells: show;
			border: 1px solid #cbcbcb;
		}

		table td,
		table th {
			border-left: 1px solid #cbcbcb;
			border-width: 0 0 0 1px;
			font-size: inherit;
			margin: 0;
			overflow: visible;
			padding: 6px 12px;
		}

		table td:first-child,
		table th:first-child {
			border-left-width: 0;
		}

		table thead {
			background: #e0e0e0;
			color: #000;
			text-align: left;
			vertical-align: bottom;
		}

		table td {
			background-color: transparent;
			border-bottom: 1px solid #cbcbcb;
		}

		table tr:nth-child(2n) td {
			background-color: #f2f2f2;
		}
		table tbody > tr:last-child td{
			border-bottom-width: 0;
		}
	</style>
<h1>{{ .Check.Name }}</h1>
<table>
<tbody>
<tr><td>Name</td><td>{{ .Check.Name }}</td></tr>
<tr><td>Detail</td><td>{{ .Check.Detail }}</td></tr>
<tr><td>Calendar</td><td>{{ .Check.Calendar }}</td></tr>
<tr><td>FluxFile</td><td>{{ .Check.FluxFile }}</td></tr>
<tr><td>Flux</td><td><pre>{{ .Check.Flux }}</pre></td></tr>
<tr><td>Severity</td><td>{{ .Check.Severity }}</td></tr>
<tr><td>Threshold</td><td>{{ .Check.Threshold }}</td></tr>
<tr><td>Comparison</td><td>{{ .Check.Comparison }}</td></tr>
<tr><td>Match</td><td>{{ .Check.Match }}</td></tr>
<tr><td>Interval</td><td>{{ .Check.Interval }}</td></tr>
<tr><td>Target</td><td>{{ .Check.Target }}</td></tr>
<tr><td>ID</td><td>{{ .Check.ID }}</td></tr>
<tr><td>Tags</td><td>
<table>

    {{range $k,$v := .Check.Tags}}
        <tr><td>{{ $v }}</td></tr>{{ end }}
</table>
</td></tr>
<tr><td>Query Results</td><td>
<table>

    {{range $k,$v := .Alert}}
        <tr><td>{{ $k }}: </td><td>{{ $v }}</td></tr>{{ end }}
</table>
</td></tr>
<tr><td>Recommended Actions</td><td><pre>{{ .Check.Action }}</pre></td></tr>

</tbody>
</table>
