{
"status": "{{ .Fields.status }}",
"externalURL": "https://{{ .Fields.ipaddr }}/orgs/{{ .Fields.org }}/alerting/checks/{{ .Fields._check_id }}/edit",
  "alerts": [
    {
      "generatorURL": "https://{{ .Fields.self }}.na1.prod.azure:8086",
      "status": "{{ .Fields.status }}",
      "fingerprint": "{{ .Fields.uuid }}",
      "alertRule": "LogTrap",
      "severity": "{{ .Fields.severity }}",
      "signalType": "{{ .Fields._type }}",
      "monitorCondition": "Fired",
      "monitoringService": "Influxdb",
      "alertTargetIDs": [
        "/subscriptions/{{ .Fields.subscription }}/resourceGroups/{{ .Fields.resourceGroup }}/providers/Microsoft.Compute/virtualMachines/{{ .Fields.host }}"
      ],
      "annotations": {
        "description": "A {{ .Fields._type }} {{ .Fields.severity }} alert for {{ .Fields.host }} due to check [{{ .Fields._check_name }}] on [{{ .Fields._measurement }}] occurred between {{ .Fields._start }} and {{ .Fields._stop }}.",         
        "summary": "A {{ .Fields._check_name }} [{{ .Fields._level }}] alert for {{ .Fields.host }} fired at {{ .Fields._time }}"
      },
      "labels": {
{{ range $k,$v := .Labels }}
        "{{ $k }}": "{{ $v }}",{{ end }}
        "alertname": "{{ .Fields._check_name }}"
      },
      "configurationItems": [
        "{{ .Fields.host }}"
      ],
      "originAlertId": "{{ .Fields._check_id }}",
      "firedDateTime": "{{ .Fields._time }}",
          "summary": "{{ .Fields._level }} level alert for {{ .Fields.host }}"
        }
        ],
"appGroupEmail": "{{ .Fields.appGroupEmail }}",
"environment": "{{ .Fields.environment }}",
"assignmentGroup": "{{ .Fields.assignmentGroup }}",
"origin": "{{ .Fields.host }}"
}
